repos:
  - repo: https://github.com/astral-sh/ruff
    rev: v0.0.271
    hooks:
      - id: ruff
        args: ["--fix"]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        args: ["--config-file", "pyproject.toml"]
